body{
margin: 0;
color: #555;
font-family: 'Montserrat',sans-serif;
align: center;
}

#header{
background-color: #FF5252;
height: 150px;
line-height: 150px;
padding: 10px;
}

#header a{
color: white;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.1em;
}

#header a:hover{
color: #222;
}

#header-title{
display: block;
float: left;
font-size: 20px;
font-weight: bold;
}

#header-nav{
display: block;
float: right;
}

#header-nav li{
display: inline;
padding-left: 20px;
margin-top: 0;
}

.container{
max-width: 1000px
margin: 0 auto;
}

#content{
padding: 50px 0 20px 20px;
}

.post{
max-width: 800px;
padding: 20px 0;
}

.post-author img{
width: 50px;
height: 50px;
vertical-align: middle;
}

.post-author span{
margin-left: 16px;
}

h1, h2, h3, h4{
color: #333;
}

p{
line-height: 1.5;
}

#photo{
height:175px;
width:325px;
border: solid #555 1px;
border-radius: 10px 0 10px 0;
margin: 15px 0;
}

.gallary img{
height: 50px;
width: 50px;
vertical-align: middle;
}

.gallary-content{
padding: 30px 0;
}

.gallary-content img{
height: 150px;
width: 150px;
padding: 0 2.5px 5px 0;
border: solid white 1px;
border-radius: 0 15px 0 15px;
}



#footer{
background-color: #2f2f2f;
padding: 50px 0 200px 10px;

}

.column{
min-width: 300px;
display: inline-block;
vertical-align: top;
}

#footer h4{
color: white;
text-transform: uppercase;
letter-spacing: 0.iem;
}

#footer p{
color: white;
}

a{
color: #FF5252;
text-decoration: none;
}

a:hover{
color: #5E35B1;
}


































